  body {
            display: flex;
            min-height: 100vh;
        }

        /* Sidebar */
        .sidebar {
            width: 250px;
            background: #343a40;
            color: white;
            padding-top: 20px;
        }

        .sidebar a {
            color: #ddd;
            padding: 12px 20px;
            display: block;
            text-decoration: none;
        }

        .sidebar a:hover {
            background: #495057;
            color: #fff;
        }

        /* Content */
        .content {
            flex: 1;
            padding: 20px;
            background: #f4f6f9;
        }

        .nav-custom {
            background: white;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
        }